@import "colors";
@font-face {
    font-family: 'Sun';
    src: url('../../fonts/DKLemonYellowSun.eot');
    src: url('../../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'), url('../../fonts/DKLemonYellowSun.woff2') format('woff2'), url('../../fonts/DKLemonYellowSun.woff') format('woff'), url('../../fonts/DKLemonYellowSun.ttf') format('truetype'), url('../../fonts/DKLemonYellowSun.svg#DKLemonYellowSun') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: $yellow2;
}
h1,h2 {
  font-family: 'Sun';
}

.order-title {
    font-size: 3em;
    text-align: center;
    background-color: $yellow;
    padding: 0.3em;
    font-family: $heading;
    width:110%;
    margin:0 0 1em -2.6%;
}

.time-title {
    font-size: 2em;
    text-align: left;
    background-color: $blue;
    color:#fff;
    padding: 0;
    width:110%;
    margin:0 0 1em -2.6%;
    padding-left:5%;
    font-family: $heading;
}

.tip-title {
    font-size: 2em;
    text-align: left;
    background-color:$teal;
    color:#fff;
    padding: 0;
    width:110%;
    margin:0 0 1em -2.6%;
    padding-left:5%;
    font-family: $heading;
}

.total {
  padding:1em;
  border: 6px solid $orange;
  // background-color: #ffe89f;
}

.card {
  font-size: 0.8em;
  padding-left:2.1em;
  margin-top:-0.7em;
}
.fa-credit-card {
  margin-right: 0.5em;
}

.total-cost {
  right: -17.5em;
  position:absolute;
}


.confirm {
  background-color: #39cbaf;
  padding: 10px;
  color: #fff;
  font-family: 'Sun';
  font-size: 2em;
  border-radius: 5px;
}

.confirm-row {
  text-align: center;
  margin-top:1em;
}


.yes {
  background-color: $yellow;
    padding: 10px;
  color: #fff;
  font-family: 'Sun';
  font-size: 1.5em;
  border-radius: 5px;
  width:58%;
  display:inline-block;
}

.not-today {
  background-color: $darkgray;
  padding: 10px;
  color: #fff;
  font-family: 'Sun';
  font-size: 1.5em;
  border-radius: 5px;
    width:30%;
      display:inline-block;
}
