@import "colors";
@font-face {
    font-family: 'Sun';
    src: url('../../fonts/DKLemonYellowSun.eot');
    src: url('../../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'), url('../../fonts/DKLemonYellowSun.woff2') format('woff2'), url('../../fonts/DKLemonYellowSun.woff') format('woff'), url('../../fonts/DKLemonYellowSun.ttf') format('truetype'), url('../../fonts/DKLemonYellowSun.svg#DKLemonYellowSun') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
  background-color: $yellow2;
}
h1,h2 {
  cursor:pointer;
  font-family: 'Sun';

}
h1 {
  font-size: 3em;
}
h2 {
  font-size:2em;
}
.arrow {
  transform: rotate(180deg);
  ms-transform: rotate(180deg);
  webkit-transform: rotate(180deg);
}
.menu-title {
    font-size: 3em;
    text-align: center;
    background-color: $yellow;
    padding: 0;
    font-family: $heading;
}
.accordion {
    width: 105%;
    border: none;
    margin-left: -0.6em;
    // background-color: $blue;

    a.accordion-title{
        height: 2em;
        vertical-align: bottom;
        font-family: $heading;
        font-size: 2em;
      color: $darkgray;
    }
    li:active,
    li:first-child,
    li:hover {
        background-color: $yellow1;
    }
    li:active,
    li:hover,
    li:nth-child(2) {
        background-color: $yellow2;
    }
    li:active,
    li:hover,
    li:nth-child(3) {
        background-color: $yellow1;
    }
    li:active,
    li:hover,
    li:nth-child(4) {
        background-color: $yellow2;
    }
    li:active,
    li:hover,
    li:nth-child(5) {
        background-color: $yellow1;
    }
    li:active,
    li:hover,
    li:nth-child(6) {
        background-color: $yellow2;
    }
    li:active,
    li:hover,
    li:nth-child(7) {
        background-color: $yellow1;
    }
}


.submit-center {
  text-align:center;

}
.accordion-toggle {
  padding: 0.2em;
}

#firstaccordion {
  background-color: $teal;
  border-bottom: 5px solid #64ebd1;
}

#secondaccordion {
  background-color: #fff38b;
  border-bottom: 5px solid $yellow;
}

#thirdaccordion {
  background-color: #ff9487;
  border-bottom: 5px solid $red;
}

.add-to-cart {
  background-color: #39cbaf;
  padding: 5px;
  color: #fff;
  // font-family: 'Sun';
  // font-size: 2em;
  border-radius: 5px;
}

.add-to {
    background-color: #39cbaf;
    padding: 5px;
    color: #fff;
    // font-family: 'Sun';
    // font-size: 1.3em;
    border-radius: 5px;
    position:absolute;
    right:1.3em;
}

.left-align {
  margin-left:-1.8em;
}

$font-size: 16px;
.foodForCart {
  li {
    margin-bottom: 1em;
    width:60%;
    span.pricing {
      position: absolute;
      right: 8em;
      font-weight: bold;
    }
    // span.item {
    //   width:40%;
    //
    // }
  }
}

.builditems {
  // background-color: #ff9487;
  border-bottom: 3px dotted $teal;
}

.builditemsB{
    border-bottom: 3px dotted $yellow;
}

.builditemsC{
    border-bottom: 3px dotted $red;
}

.accordion-content ul {
  font-size: $font-size;
}
.counter{
 font-family: 'Sun';
 font-weight: bold;
 font-size: 16px;
}
.counter-icon{
 background-color: red;
 border-radius: 15px;
}
.animated{
 -webkit-animation-duration: .5s;
 animation-duration: .5s;
 -webkit-animation-fill-mode: both;
 animation-fill-mode: both;
}

@-webkit-keyframes pulse{
 from{
  -webkit-transform: scaled3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
 }
 50%{
    -webkit-transform: scaled3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
 }
 to{
    -webkit-transform: scaled3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
}

@keyframes pulse{
 from{
  -webkit-transform: scaled3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
 }
 50%{
    -webkit-transform: scaled3d(1.5, 1.5, 1.5);
    transform: scale3d(1.5, 1.5, 1.5);
 }
 to{
    -webkit-transform: scaled3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
 }
}
.pulse{
 -webkit-animation-name: pulse;
 animation-name: pulse;
}
.counter-icon, .counter{
 position: absolute;
 top: 0;
 right: 0;
 min-width: 30px;
 height: 30px;
 text-align: center;
 color: #fff;
}

.accordion-content ul li {
  padding-left:0;
  margin-left:-2.1em;
}
