$darkgray: #50514F;
$lightgray: #a6a6a6;
// COLOR SCHEME
$blue: #2c688b;
$teal: #39cbaf;
$yellow: #Fed859;
$orange: #fd823c;
$red: #ff5f4b;
// COLOR SCHEME
$yellow1: #FFF8CC;
$yellow2: #fffce7;
$heading: 'Sun', Helvetica, sans-serif;
$login: #39cbaf;
$loginHover: #47d6bb;
$create: #fd823c;
$createHover: #ff8c39;
