@import "colors";
@font-face {
    font-family: 'Sun';
    src: url('../../fonts/DKLemonYellowSun.eot');
    src: url('../../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'), url('../../fonts/DKLemonYellowSun.woff2') format('woff2'), url('../../fonts/DKLemonYellowSun.woff') format('woff'), url('../../fonts/DKLemonYellowSun.ttf') format('truetype'), url('../../fonts/DKLemonYellowSun.svg#DKLemonYellowSun') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #fff;
    width: 100%;
    margin: auto;
}
#topbackground {
    /*$yellow2*/
    // this exists because of styling
    background-color: #fff;
}
#greetingContainer {
    /*$yellow2*/
    background-color: #fff;
    width: 80%;
    #greeting {
        margin-top: 1.3em;
        text-align: right;
        .center {
            text-align: center;
            .morning {
                color: $orange;
                font-size: 3.5em;
                font-family: $heading;
                margin-bottom: 0;
            }
        }
        img {
            max-width: 100%;
        }
        #happy-sunshine {
            margin-top: -1.2em;
            color: $darkgray;
            font-size: 3em;
            line-height: 1em;
            font-family: $heading;
        }
        #location {
            margin-top: -2.5em;
            color: $teal;
        }
    }
}
hr {
    margin: 0;
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: $yellow1;
}
.bottom {
    padding: 1em 1em 0.2em;
    background-color: $yellow;
    width: 100%;
    input[type="text"] {
        background-color: $yellow1;
        border: none;
        color: $darkgray;
        box-shadow: none;
        &:focus {
            color: $darkgray;
            background-color: $yellow2;
            border: none;
            box-shadow: none;
        }
    }
    input[type="password"] {
        background-color: $yellow1;
        border: none;
        color: $darkgray;
        box-shadow: none;
        &:focus {
            color: $darkgray;
            background-color: $yellow2;
            border: none;
            box-shadow: none;
        }
    }
}
input[type="button"].login {
    width: 100%;
    background-color: $login;
    padding: 10px;
    float: left;
    // border-radius: 0.4em;
    margin-bottom: 0.5em;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: none;
    &:active,
    &:hover {
        background-color: $loginHover;
    }
}
input[type="button"].create {
    width: 100%;
    background-color: $create;
    padding: 10px;
    float: left;
    // border-radius: 0.4em;
    margin-bottom: 0.8em;
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: none;
    &:active,
    &:hover {
        background-color: $createHover;
    }
}
//PLACEHOLDER FORM TEXT
input[type="text"]::-webkit-input-placeholder {
    color: $lightgray;
}
input[type="text"]:-moz-placeholder {
    /* Firefox 18- */
    color: $lightgray;
}
input[type="text"]::-moz-placeholder {
    /* Firefox 19+ */
    color: $lightgray;
}
input[type="text"]::-ms-input-placeholder {
    color: $lightgray;
}
