@import "colors";

@font-face {
    font-family: 'Sun';
    src: url('../../fonts/DKLemonYellowSun.eot');
    src: url('../../fonts/DKLemonYellowSun.eot?#iefix') format('embedded-opentype'), url('../../fonts/DKLemonYellowSun.woff2') format('woff2'), url('../../fonts/DKLemonYellowSun.woff') format('woff'), url('../../fonts/DKLemonYellowSun.ttf') format('truetype'), url('../../fonts/DKLemonYellowSun.svg#DKLemonYellowSun') format('svg');
    font-weight: normal;
    font-style: normal;
}


.account-title {
    font-size: 1.3em;
    width:100%;
    text-align: center;
    background-color: $yellow;
    padding: 0;
    margin-bottom: 1em;
    h1 {
          font-family: $heading;
              padding: 0;
              margin:0.3em;
    }
}

.card-info {
    font-size: 2em;
    width:110%;
    text-align: center;
    background-color: $red;
    color:#fff;
    font-family: $heading;
    padding: 0.3em;
    margin-bottom: 1em;
    margin-left: -0.3em;
    margin-top: 2em;
    h1 {
          font-family: $heading;
              padding: 0;
              margin:0.3em;
    }
}

.switch-paddle {
  background-color: #bfbfbf;
}

.notification {
  text-align: center;
  font-weight: bold;
}
.center {
  text-align: center;
}
button.add {
    width:60%;
    margin:1em auto auto auto;
    padding: 1em;
    font-weight: bold;
  background-color: $login;
  &:hover,&:active {
    background-color: $loginHover;
  }
}
